/* Footer Info */
.footer__info {
  padding: 22px 0;
  background-color: var(--background-color);

  .footer__info-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media only screen and (max-width: $desktop) {
    padding: 20px 0;
  }
}

.copyright {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-alt-color);

  a {
    text-decoration: underline;
    text-decoration-color: transparent;
    color: var(--heading-font-color);

    &:hover {
      text-decoration-color: var(--heading-font-color);
      color: var(--heading-font-color);
    }
  }
}

.top {
  min-width: 36px;
  height: 36px;
  font-size: 15px;
  line-height: 38px;
  text-align: center;
  border-radius: 8px;
  color: var(--heading-font-color);
  background-color: var(--background-alt-color);
  cursor: pointer;
  transition: all .25s ease;
}