---
layout: default
---

<div class="post-head">
  <div class="container">
    <div class="row">
      
      <!-- 1. 媒体区域（视频或图片） -->
      {% if page.video_embed %}
        <div class="col col-12">
          <div class="post-video">
          <div class="post-video__wrap">
            <iframe 
              src="{{ page.video_embed }}" 
              loading="lazy" 
              width="640" 
              height="360" 
              frameborder="0" 
              allowfullscreen>
            </iframe>
          </div>
        </div>
        </div>
      {% elsif page.image %}
        <div class="col col-12">
          <div class="post-image">
          <img 
          class="lazy" 
          data-src="{{sitedata.settings.baseurl}}{{page.image}}" 
          alt="{{page.title}}" 
          width="640" 
          height="360"
          >
        </div>
        </div>
      {% endif %}
      
      <!-- 2. 文字信息区域（标题和标签） -->
      <div class="col col-12">
        <!-- 统一使用 post__info，不再区分 video 类 -->
        <div class="post__info">
          
          <!-- 标签展示 -->
          {% if page.tags.size >= 1 %}
            <div class="post__tags">
              {% for tag in page.tags %}
                <a href="{{ site.data.settings.baseurl }}/tags#{{ tag }}" class="post__tag">{{ tag }}</a>
              {% endfor %}
            </div>
          {% endif %}
          
          <!-- 标题展示 -->
          <h1 class="post__title">{{ page.title | escape }}</h1>
          
        </div>
      </div>

    </div>
  </div>
</div>


<!-- begin post -->
<div class="container animate">

  <article class="post">

    <div class="post__content">
      {{ content }}
    </div>

  </article>
</div>
<!-- end post -->