---
layout: default
---

<div class="post-head">
  <div class="container">
    <div class="row">
      
      {% if page.video_embed %}
      <!-- 视频播放区域 -->
      <div class="col col-12">
        <div class="post-video">
          <div class="post-video__wrap">
            <iframe 
              src="{{ page.video_embed }}" 
              loading="lazy" 
              width="640" 
              height="360" 
              frameborder="0" 
              allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>

      {% else %}
      
      {% if page.image %}
      <!-- 图片显示区域 -->
       <div class="col col-12">
        <div class="post-image">
          <img 
          class="lazy" 
          data-src="{{site.baseurl}}{{page.image}}" 
          alt="{{page.title}}" 
          width="640" 
          height="360"
          >
        </div>
      </div>
      {% endif %}


      {% endif %}
      
      <!-- 文字信息区域（标题和标签） -->
      <div class="col col-12">
        <div class="post__info {% if page.video_embed %}post__info-video{% endif %}">
  
          {% if page.tags.size >= 1 %}
            <div class="post__tags">
              {% for tag in page.tags %}
                <a href="{{ site.baseurl }}/tags#{{ tag }}" class="post__tag">{{ tag }}</a>
              {% endfor %}
            </div>
          {% endif %}
  
          <h1 class="post__title">{{ page.title | escape }}</h1>
        </div> <!-- 已闭合 post__info -->
      </div>

    </div> <!-- 已闭合 row -->
  </div> <!-- 已闭合 container -->
</div> <!-- 已闭合 post-head -->

<!-- begin post -->
<div class="container animate">

  <article class="post">

    <div class="post__content">
      {{ content }}
    </div>

  </article>
</div>
<!-- end post -->

{% include related-posts.html %}